* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  /* Header start */

  .headermenuitems {
    display: none;
  }

  #Headermenuback {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #shopicon {
    display: block;
  }

  #hamtdaa {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  /* Body paints 0 start */

  #Frame1tablet {
    display: flex;
  }

  #Frame1 {
    display: none;
  }

  /* Body paints 1 start */

  #Frame2tablet {
    display: flex;
  }

  #Frame2 {
    display: none;
  }

  #Frame3 {
    display: none;
  }

  #Frame3tablet {
    display: flex;
  }

  /* Body paints 4 50% */

  #airpodtablet {
    display: flex;
  }

  #ipadair {
    display: none;
  }

  #applewatchtablet {
    display: flex;
  }

  #airpods {
    display: none;
  }

  #Frameairpodstablet {
    display: flex;
  }
  #macbookairtablet {
    display: flex;
  }
  #applewatch {
    display: none;
  }
  #macbookair {
    display: none;
  }

  #Body-Paints7 {
    display: none;
  }
  #Body-Paints6 {
    display: none;
  }

  #Body-paints9 {
    display: none;
  }
  #Body-paints8 {
    display: none;
  }
  #tablelist {
    display: none;
  }

  #small-business {
    display: flex;
  }

  #Framewatchtablet {
    display: flex;
  }

  #careerstablet {
    display: flex;
  }

  #tradeintablet {
    display: flex;
  }

  #tradeinbackground {
    display: none;
  }

  #Cardbackground {
    display: none;
  }
  #Body-Paints5 {
    display: flex;
  }

  #tradeinbackground {
    display: none;
  }

  #Cardbackground {
    display: none;
  }

  #careerstablet {
    display: flex;
  }

  #tradeintablet {
    display: flex;
  }

  #Body-Paints6-tablet {
    display: flex;
  }

  #Body-Paints6-tablet {display: flex;}

  #Body-Paints7-tablet {display: flex;}
}
